.dockerignore
node_modules
docs
.vscode
.yarn
.angular
.editorconfig
.gitignore
.prettierignore
.prettierrc
.yarnrc.yml
jest.config.ts
jest.preset.js
README.md
nx.json
.eslintignore
.eslintrc.json
.nx
.github
